{% extends 'base.html' %}
{% block content %}
{% load static %}

<script>
function samman(hello){

  document.getElementsByClassName('ddd').style.display = 'none'
  alert(hello)

}
</script>

        <nav id="navbar" class="navbar">
          <ul>
            <li><a class="nav-link scrollto " href="{%url 'home'%}">Home</a></li>
            <li><a class="nav-link scrollto active" href="/">Services</a></li>
            <li><a class="getstarted scrollto" href="#">Subscribe</a></li>
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

      </div><!-- End Header Container -->
    </div>
  </header><!-- End Header -->



  <main id="main">

    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
      <!-- search engine -->
      <footer  id="footer">
        <div class="footer-top">
          <div class="container">
            <div class="row">
    
              <div class="col-lg-12 col-md-6 footer-newsletter">
                <h4>Meta Search Engine</h4>
                <p>Specialized form of search engine that aggregates results from the data of other search engines.</p>
                <form action="" method="GET">
                  <input style="border: none; text-align: center; " size="120" type="text" name="query"><input type="submit" value="Search">
                </form>
              </div>

            </div>
          </div>
        </div>

      </footer>
  {%  if search_results %}

    <div class="container">
        <div class="row">
            <div class="">
                    <h3 class="text-centre">Meta Search Results</h3>
                    </br>
                    <dl>
                    {% for i,j in search_results.items %}
                        <dt>- <a href="{{j.url}}" target="_blank">{{j.title}}</a>-</dt>
                        <dd> - {{j.desc }} - </dd>

                    <hr>
                    {% endfor %}
                    </dl>
                    <br>
            </div>

        </div>
    </div>

  {% endif %}
    
  </main><!-- End #main -->


{% endblock content %}
